@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.main-container {
    flex-grow: 1;
}

.button {
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

.form-button {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border: none;
    font-size: 16px;
}

.button-accepted {
    background: rgba(252, 252, 252, 0.3);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: none;
}

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-logo {
    width: 137px;
    margin-right: 16px;
}

.navigation-list {
    width: 400px;
    margin: 0;
    padding: 0;
}

.navigation-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.navigation-link-phone {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px; 
    text-align: center; 
}

.navigation-user {
    max-width: 430px;
    margin-left: auto;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.slider-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.slider-item {
    margin: auto;
}


.social-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.gifts-presents {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.index-colums {
    display: flex;
    justify-content: space-between;
}

.gifts {
    background-color: #FF7799;
    width: 570px;
    height: 268px;
}

.rasberry {
    background-image: url("../image/rasberry.jpg");
    background-repeat: no-repeat;
    background-size: 219px 268px;
    background-position: right; 
}

.marshmellow {
    background-image: url("../image/marshmellow.jpg");
    background-repeat: no-repeat;
    background-size: 219px 268px;
    background-position: right;
}

.gift-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog-popular-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.catalog-popular-list {
    display: flex;
    justify-content: space-between;
}

.catalog-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.benefits {
    background-image: url("../image/ceo.jpg");
    height: 480px;
}

.benefits-list{
    display: flex;
    justify-content: center;
}

.benefits-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center
}

.benefits-list {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.news {
    display: flex;
    justify-content: space-between;
}

.update {
    background-image: url("../image/news.jpg");
    background-repeat: no-repeat;
    background-size: 570px 224px;
    width: 570px;
    height: 224px;
}

.update-news {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.update-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
}

.subscribe {
    background-image: url("../image/subscrube.jpg");
    width: 570px;
    height: 224px;
}

.subscribe-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.delivery {
    display: flex;
    background-image:url("../image/delivery.jpg");
    height: 534px;
}

.delivery-container{
    margin: auto;
}

.delivery-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.delivery-form {
    margin: auto;
}

.delivery-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.delivery-conformation {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.delivery-date {
    font-weight: 700;
    line-height: 20px;
}

.delivery-phone {
    font-weight: 700;
    line-height: 20px;
}

.delivery-address {
    font-weight: 700;
    line-height: 20px;
}

.contacts {
    background-image: url("../image/feedback.jpg");
    background-repeat: no-repeat;
    height: 492px;
}


.contact-address-text {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.contact-address-text {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.schedule {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.contact-address {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contact-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
  }

.cooperation-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.cooperation-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.cooperation-link-selected {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.copyright-link {
    color: #2D3440;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.filter-name {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.select-variants {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.range {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.fat-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.filler-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.range {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.filler-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.pagination-link {
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0; 
}