@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(fonts\inter-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(fonts\inter-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(fonts\inter-900.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.button {
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.form-button {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border: none;
    font-size: 16px;
}

.navigation-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.navigation-link-phone {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px; 
    text-align: center; 
}

.social-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.slider-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.gifts-presents {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.gift-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog-popular-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.catalog-popular-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.catalog-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-description {
    font-weight: 400;
    line-height: 22px;
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.benefits-title{
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.benefits-list {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.update-news {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.update-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
}

.subscribe-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

