@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.main-container {
    flex-grow: 1;
}

.button {
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

.form-button {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border: none;
    font-size: 16px;
}

.button-accepted {
    background: rgba(252, 252, 252, 0.3);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*Навигвця*/

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-logo {
    display: flex;
    align-items: center;
    width: 137px;
    margin-right: 16px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-link {
    display: block;
    padding: 8px 16px;
    margin-top: 10px;
    color: #2D3440;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.navigation-link-phone {
    display: block;
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px; 
    padding: 8px 16px;
    margin-top: 8px;
    text-align: center;
   
}

.navigation-user {
    max-width: 430px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 32px;
    min-height: 32px;
}

/*Слайдеры*/

.page-container {
    width: 1170px;
    margin: 0 auto;
}

.slider {
    padding-top: 21px;
    margin-bottom: 80px;
}

.slider-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 0;
    list-style-type: none;
}

.slider-item {
    margin: auto;
    padding-right: 41px;
}

.slider-item:last-child {
    padding-right: 0;
}

.slider-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    display: block;
    margin-bottom: 24px;
}

.slider-discription {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 56px;
    min-width: 414px;
    margin-bottom: 48px;
}

.slider-footer {
    display: flex;
    justify-content: space-between;
}

.slider-pagination-list {
    display: flex;
    list-style-type: none;
    width: 52px;
    margin: 0;
    padding: 0;
}

.slider-pagination-item {
    margin-right: 8px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.social-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
}


/*Подарки за заказ*/

.gifts-presents {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-top: 55px;
}

.index-colums {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.gifts {
    background-color: #FF7799;
    width: 570px;
    height: 268px;
}

.rasberry {
    background-image: url("../image/rasberry.jpg");
    background-repeat: no-repeat;
    background-size: 219px 268px;
    background-position: right; 
    margin-right: 30px;
}

.marshmellow {
    background-image: url("../image/marshmellow.jpg");
    background-repeat: no-repeat;
    background-size: 219px 268px;
    background-position: right;
}

.gift-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.gift-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/*Популярое в каталоге*/

.catalog-popular {
    margin-top: 80px;
}

.catalog-popular-title {
    display: block;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    width: 572px;
    margin: auto;
    text-align: center;
    
}

.catalog-popular-list {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.catalog-item-image {
    order: -1;
}

.catalog-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/*Преимущества магазина*/

.benefits {
    background-image: url("../image/ceo.jpg");
    height: 480px;
    margin-top: 80px;
}

.benefits-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.benefits-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center
}

.benefits-list {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

/*Новости и подписка */

.news {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.update {
    background-image: url("../image/news.jpg");
    background-repeat: no-repeat;
    background-size: 570px 224px;
    width: 570px;
    height: 224px;
    margin-right: 30px;
}

.update-news {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

.update-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
}

.subscribe {
    background-image: url("../image/subscrube.jpg");
    width: 570px;
    height: 224px;
}

.subscribe-description {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

/*Доставка*/

.delivery {
    display: flex;
    background-image:url("../image/delivery.jpg");
    height: 534px;
    margin-top: 80px;
}

.delivery-container {
    margin: auto;
}

.delivery-title {
    display: block;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin-right: 150px;
    width: 356px;
    margin-left: 100px;
    margin-bottom: 24px;
}


.delivery-description {
    display: block;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    width: 371px;
    margin-right: 135px;
    margin-left: 100px;
}

.delivery-form {
    margin: auto;
}
.delivery-conformation {
    display: block;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    width: 300px;
    margin-right: 80px;
}

.delivery-date {
    font-weight: 700;
    line-height: 20px;
}

.delivery-phone {
    font-weight: 700;
    line-height: 20px;
}

.delivery-address {
    font-weight: 700;
    line-height: 20px;
}

/*Контакты*/

.contacts {
    background-image: url("../image/feedback.jpg");
    background-repeat: no-repeat;
    height: 492px;
    margin-top: 80px;
    padding-left: 104px;
}

.contacts-container {
    width: 343px;
}

.contact-address-text {
    padding-top: 104px;
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    width: 179px;
}

.contact-address {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contact-phone-text {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
    width: 267px;
    margin-bottom: 12px;
}

.contact-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.schedule {
    font-weight: 400;
    line-height: 22px;
    color: #565C66;
}

/*Подвал*/

.page-footer-container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-social{
    margin-top: 48px;
  }

  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-social-link {
    color: #2D3440;
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
}

.cooperation {
    margin-top: 48px;
}

.cooperation-list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.cooperation-item {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    width: 126px;
}

.cooperation-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.cooperation-link-selected {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.copyrights{
    margin-top: 48px;
}

.copyright-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.copyright-link {
    color: #2D3440;
}

/*Страница каталога*/

.main-inner{
    padding-top: 32px;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
}

.breadcrumbs-item {
    padding-right: 24px;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.filter-name {
    display: block;
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.sorting {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.select-variants {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.range {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 24px;
}

.fat-list {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-option {
    margin-right: 24px;
}

.filler-list {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.filler-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


.pagination-container {
    display: flex;
    padding: 16px;
    justify-content: space-around;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item {
    margin-top: 41px;
    margin-bottom: 41px;
    padding-right: 15px;
}

.pagination-link {
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;

}

.pagination-show-more {
    margin-top: 41px;
    margin-bottom: 41px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 823px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog {
    margin-top: 44px;
}

.catalog-list {
    list-style-type: none;
}